

.dogs-card-container{
    width: calc((100% / 3) - 1.8%);
    padding-bottom: calc((108.963585434% / 3) - 1.8%);
    position: relative;
    overflow:visible;
    margin-right: 2.5%;
    margin-bottom: 3%;
    @media screen and (min-width: 1000px) {
        &:nth-child(3n+0){
            margin-right: 0;
        };
    }


    @media screen and (max-width: 1000px) {
        width: calc((100% / 2) - 1.4%);
        padding-bottom: calc((108.963585434% / 2) - 1.4%);
        margin-right: 2.5%;
        margin-bottom: 3%;
        &:nth-child(2n+0){
            margin-right: 0;
        };
    }

    @media screen and (max-width: 600px) {
        width: calc((100%));
        padding-bottom: calc((108.963585434%));
        margin-right: 2.5%;
        margin-bottom: 3%;
        margin-right: 0;
    }

    .dogs-card{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 16px;
        overflow: hidden;
        background-color: #FFFFFF;

        .dogs-image{    
            width: 100%;
            height: calc(100% - 46px);
            object-fit: cover;
        };
        &:hover{
            cursor: pointer;
            top: -4px;
            left: -4px;
            box-shadow: 4px 4px 0 #000000;
        }
        .dogs-info{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: 35px;
            align-items: center;
            .dogs-name{
                margin: 0;
                font-family: "Work Sans";
                font-weight: 400;
                margin-left: 15px;
            };
            .dogs-love{
                margin: 0;
                width: 20px;
                height: 18px;
                margin-right: 15px;
            }
        }
    }
}
