.chip-doggo-breed{
    display: flex;
    flex-direction: row;
    background-color: rgba(251, 231, 195, 1);
    border-radius: 16px;
    height: 31px;
    align-items: center;
    padding: 0 11px;
    margin-right: 12px;
    margin-bottom: 11px;
    justify-content: space-between;
    .item-name{
        font-size: 13px;
        font-weight: 700;
        font-family: "Futura", sans-serif;
        margin-right: 20px;

    }
    .delete-button-chip{
        border: none;
        background-color: #00000000;
        width: 24px;
        height: 24px;
        &:focus{
            outline: none;
        };
        &:hover{
            cursor: pointer;
        }

    }
}